/* ContactUs.css */
.contact-container {
   width: 85%;
    margin: 50px auto;
    text-align: center;
    padding-top: 10px;
    background-color: black;
    border-radius: 20px;
  }
  

  .contact-container h1 {
    margin-top: 10px;
    font-family: "Russo One", sans-serif;
    font-size: 36px;
    margin-bottom: 30px;
    color:  rgb(249 115 22);
  }
  
  .social-media-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
  }
  
  .social-card {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .social-card:hover {
    transform: translateY(-5px);
  }
  
  .social-card i {
    margin-bottom: 10px;
  }
  
  .instagram {
    background-color: #000000; /* Instagram color */
  }
  
  .twitter {
    background-color: #000000; /* Twitter color */
  }
  
  .linkedin {
    background-color: #000000; /* LinkedIn color */
  }

  .github{
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 100px;
   
  }
  
  #githubImg{
    margin-bottom: 10px;
  }
  .email-card {
    width: 50%;
    height: 80px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: black;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .email-card:hover {
    transform: translateY(-5px);
  }
  
  #email-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #lastLine{
    margin-top: 10px;
    color: white;
  }


  @media only screen and (max-width: 767px) {
.email-card{
  width: 95%;
  font-size: 18px;
}

#lastLine{
  margin-bottom: 30px;
}

.contact-container {
  padding-bottom: 3px;
}
  }